.footer {
    // height: 89px;
    padding: 20px 0;
    box-shadow: 0px -5px 40px #00000029;
    background-color: #F7F7F7;
}

.footer__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo {
    font-family: $font-raleway;
    color: $color-primary;
    font-weight: 300;
    font-size: toRem(26px);
}

.footer__info {
    font-size: toRem(11px);
    color: $color-grey;
    margin-top: 6.5px;
}

.footer__icons {
    img:last-child {
        margin-left: 20px;
    }
}