.benefits {
    margin-top: 120px;
    padding: 100px 0;
    background-color: $color-light-grey;
}

.benefits__container {
    padding: 0 100px;
}

// Ogolne style dla artykułu
.benefits__article {
    background-color: $color-white;
    border: 1px solid #E8E9ED;
    margin-bottom: 37px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    &:nth-of-type(2) {
        flex-direction: row-reverse;
        padding-left: 70px;
    }
}

// Kolumna z tekstem w artykule
.benefits__description {
    max-width: 420px;
    margin: 90px 36px;
    &::after {
        content: "";
        width: 332px;
        height: 4px;
        background-color: $color-redish;
        display: block;
        margin-top: 50px;
      }
}

.benefits__title {
    font-size: toRem(36px);
    font-family: $font-raleway;
    margin-bottom: 30px;
}


// Ustawienia dla zdjec zeby before/after byly z tylu
.benefits__images {
    position: relative;
}
.benefits__image {
    position: relative;
    z-index: 2;
}




// Pierwszy artykuł
.benefits__article--macbook{
    .benefits__images {
        position: relative;
        margin-bottom: 38px;
        margin-right: 117px;

        &::before {
            content: "";
            width: 180px;
            height: 180px;
            background-color: $color-redish;
            display: block;
            border-radius: 40px;
            position: absolute;
            right: 0;
            top: -40px;
            transform: rotate(45deg);
        }
    }

    .benefits__image {
        width: 386px;
        height: auto;
    }
}

// Drugi artykuł
.benefits__article--phone {
    .benefits__images::before {
        content: "";
        width: 320px;
        height: 320px;
        background-color: $color-primary;
        display: block;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: -20px;
      }

      .benefits__image {
        width: 426px;
        height: auto;
      }

      .benefits__description {
        &::after {
            background-color: $color-primary;
        }
      }
}


// Trzeci artykuł

.benefits__double {
    display: flex;
    justify-content: space-between;

    .benefits__article {
        margin-bottom: 0;
        max-width: 620px;
    }
    
    .benefits__description {
        max-width: none;
        // margin: 70px 35px;
    }

    .benefits__images {
        background-color: $color-green;
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 60px;
    }

    .benefits__image {
        width: 296px;
        height: auto;
        margin-top: 55px;
    }
}



// RWD


// Pierwsze przejście -- tablet - 1048px

@include tablet {
// Zmiana paddingów sekcji i kontenera
    .benefits {
    padding: 50px 0;
}
    .benefits__container {
        padding: 0 15px;
    }

    // Zmiana flex direction
    .benefits__article {
        flex-direction: column-reverse !important;
        justify-content: flex-start;
        align-items: center;
        padding: 0 20px !important;
    }

    .benefits__description {
        margin: 25px 15px;

        &::after {
            display: none;
        }
    }

    // Pierwszy artykuł
    .benefits__article--macbook {
        .benefits__images {
            margin: 40px 0 0;

            &::before {
                width: 90px;
                height: 90px;
                right: -10px;
                top: -30px;
            }
        }

        .benefits__image {
            width: 192px;
        }
    }


    // Drugi artykuł
    .benefits__article--phone {
        .benefits__images {
            margin: 30px 0 0;

            &::before {
                width: 131px;
                height: 131px;
                top: -15px;
            }
        }

        .benefits__image {
            width: 175px;
        }
    }

    // Trzeci artykuł
    .benefits__double {
        flex-direction: column;
    
        .benefits__article {
            max-width: none;
        }

        .benefits__images {
            margin-left: 0px;
        }
    }

}