.opening {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.opening__container {
    margin-top: 130px;
    // Wyśrodkowujemy tekst w divie
    text-align: center;
}

.opening__title {
    font-family: $font-raleway;
    font-size: toRem(49px);
    margin-bottom: toRem(20px);
}

.opening__description {
    font-size: toRem(16px);
    margin-bottom: toRem(38px);
}

.btn {
    display: inline-block;
    color: $color-white;
    font-weight: bold;
    padding: 16px 65px;
}

.opening__btn {
    background-color: $color-primary;
    padding: 22px 157px;
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: 40px;
}

// Wyrównujemy obrazek względem rodzica
.opening__img {
    width: 100%;
    height: auto;
}